main {
  background-color: #f9f6ea;
  /* height: 100vh;
  width: 100vw; */
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  cursor: default;
}

.loginLayout {
  margin-top: 5%;
  height: 80vh;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.heading3 {
  font-size: 24px;
  color: #726522;
}

.heading1 {
  font-size: 40px;
  color: #726522;
}

.heading2 {
  font-size: 22px;
  color: #726522;
}

p {
  margin: 3px;
}

.emailInputLayout,
.passwordInputLayout,
.forgotPasswordLayout,
.nameInputLayout,
.usernameInputLayout {
  height: 80px;
  width: 450px;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  transition: all 0.4s ease-in-out;
}

.forgotPasswordLayout {
  margin-top: 2px;
  margin-left: 20px;
  height: 20px;
  cursor: default;
}

.customInputField {
  height: 40px;
  margin-top: 10px;
  border-radius: 25px;
  background-color: #eee9ce;
  padding-left: 40px;
  border: none;
  transition: all 0.3s ease;
  border: 1px solid #726522;
}

.customInputField:focus {
  border: 1px solid #726522;
  outline: none;
}

.signInBtn,
.signUpBtn {
  margin-top: 20px;
  height: 50px;
  width: 200px;
  border-radius: 25px;
  font-size: 16px;
  box-shadow: none;
  border: none;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.signInBtn {
  background-color: #5a471d;
  color: #eee9ce;
}
.signInBtn:disabled {
  background-color: gray;
  cursor: default;
}

.signInBtn:hover {
  background-color: #726522;
  cursor: pointer;
}
.signInBtn:hover:disabled {
  background-color: gray;
  cursor: default;
}

.signup {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.signUpBtn {
  background-color: #eee9ce;
  color: #5a471d;
  border: 1px solid #726522;
}

.signUpBtn:hover {
  background-color: #d6cba6;
  cursor: pointer;
}

.tab {
  display: none;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.step.active {
  opacity: 1;
  background-color: #b8a785;
}
.signup {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.mat-select-panel {
  border-radius: 15px;
}

.mat-select-value {
  background-color: #eee9ce !important;
}

.mat-select-trigger:focus {
  background-color: #eee9ce !important;
  border-radius: 15px;
}

.mat-select-trigger:active {
  background-color: #eee9ce !important;
  border-radius: 15px;
}

.errorLayout {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: end;
}

.forgotPassword {
  color: #726522;
  font-size: 0.8rem;
}
