
<body style=" background-color: #e9e5cd;;">

    <nav class="shelf">
        <a class="book home-page" style="text-decoration: none;"  [routerLink]="['/home']">Home page</a>
        <a class="book about-us"   style="text-decoration: none;" [routerLink]="['/myshelf']" >My Shelf</a>
        <a class="book contact">⠀⠀⠀⠀⠀⠀</a>
        <a class="book faq">⠀⠀⠀⠀⠀⠀</a>
    
    <span class="book not-found"></span>
   
    <span class="door left"></span>
    <span class="door right"></span>
  </nav>
  <h1 style="color:  #75420e;">Error 404</h1>
  <p style="color:  #75420e;">The page you're loking for can't be found</p>
  
    </body>