.customInputField{
    height: 2rem;
    margin-top: 5px;
    border-radius: 25px;
    background-color: #EEE9CE;
    padding-left:40px ;
    border: none;
    transition: border 0.3s ease;
    border: 1px solid #726522;
   }

   .signInBtn,.signUpBtn {
    margin-top: 10px;
    height: 2.5rem; 
    width: 10rem;
    border-radius: 2.5rem; 
    background-color: #5A471D;
    color: #EEE9CE;
    font-size: 100%; 
    border: none;
  }
  .signInBtn:disabled{
    background-color:#5a471d6a ;
  }
  .signInBtn:hover,.signUpBtn:hover{
    cursor: pointer;
  }
  .signin,.signup{
    width: 20%;
    margin-top: 5px;
  }
 
:host {
    display: block;
    width: 500px;
    background-color: #EEE9CE;
  }
  
  .mat-dialog-content {
    display: flex;
    flex-direction: column;
  
  }
  
  /* Add margin between form fields */
  .mat-form-field {
    margin-bottom: 20px;
  }
  
  /* Style submit and cancel buttons */
  .mat-dialog-actions {
    justify-content: center;
  }
  
  /* Add background color and padding to dialog content */
  .mat-dialog-container {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Style dialog title */
  .mat-dialog-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  