<app-navbar> </app-navbar>
<main>

    
<div class="detailsLayout">
    <div class="leftSide">
        <div class="leftSideLayout">
            <div  *ngIf="bookDetails" class="book">
                <img [src]="bookDetails.coverImage" alt="Book Cover" width="150" height="200">
            </div>
            <div class="bookRatings">
                <span class="bookTitle"  *ngIf="bookDetails" style="color:  #726522;">{{ bookDetails.title }}</span>
                <div class="actualRatings" *ngIf="bookDetails">
                    Rating :   <ng-container  *ngFor="let rating of generateRatingArray(bookDetails.averageRating)">
                        <img width="16" height="16" src="https://img.icons8.com/office/16/book.png" alt="book" [ngClass]="{'half-star': rating === 0.5}">
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="rightSide">
        <div class="details-container" *ngIf="bookDetails">
            <div class="title">{{ bookDetails.title }}</div>
            <div class="authors"><span style="color: #726522;"> Authors: </span>{{ bookDetails.authors.join(', ') }}</div>
            <div class="description">{{ bookDetails.description }}</div>
            <div class="genre"><span style="color: #726522;"> Genre: </span>{{ bookDetails.genre }}</div>
            <div class="language"><span style="color: #726522;"> Language: </span>{{ bookDetails.language }}</div>
            <div class="isbn"><span style="color: #726522;"> ISBN: </span>{{ bookDetails.isbn }}</div>
            <div class="publisher"><span style="color: #726522;"> Publisher: </span>{{ bookDetails.publisher }}</div>
            <div class="published-date"><span style="color: #726522;"> First Published: </span>{{ bookDetails.publishedDate }}</div>
            <div class="edition"><span style="color: #726522;"> Edition: </span>{{ bookDetails.edition }}</div>
        </div>
    </div>
    
</div>

<div class="buttonsLayout">
    <button class="addToCurrentlyReadingBtn" (click)="addToCurrentlyReading()">Add to Currently Reading</button>
    <button class="addToWantToReadBtn" (click)="addToWantToRead()">Add to Want to Read</button>
    <button class="addToReadBtn" (click)="addToRead()">Add to Read</button>
</div>
<div class="rating">
    <div>
        <input type="number" min="1" max="5" #ratingInput class="rating-input" placeholder="Rating">
        <textarea #reviewInput class="review-textarea" placeholder="Write your review here"></textarea>
        <button class="post-button" (click)="postReview(bookId, ratingInput.value, reviewInput.value)">Post</button>
    </div>
</div>

<div class="ratingLayout"> 
    <div class="reviewsSection">
        <h2>Reviews from Other Users</h2>
        <div *ngFor="let review of reviews" class="review-item">
            <div class="user">{{ review.user }}</div>
            <div class="user">{{ review.username }}</div>
            <div class="rating">{{ review.rating }}</div>
            <div class="content">{{ review.content }}</div>
        </div>
    </div>
</div>

</main>