.navbarLayout {
  height: 55px;
  width: auto;
  /* background-color: #e9e5cd; */
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.heading1 {
  padding: 15px;
  font-size: 32px;
  color: #726522;
  cursor: pointer;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchBar {
  font-family: "Poppins", sans-serif;
  padding-left: 40px;
  background-color: #e9e5cd;
  border-radius: 25px;
  border: none;
  width: 40rem;
  height: 30px;
}

.searchBar::placeholder{
  text-align: center;
  margin-right: 70px;
}

.searchBar:focus {
  border: none;
  outline: none;
}

.searchIcon {
  margin-left: 10px;
  margin-right: 10px;
}

.searchIcon i,
.icon i {
  font-size: 18px;
  color: #726522;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  margin-right: 10px;
  margin-left: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .searchBar {
    display: none;
  }
  .username {
    display: none;
  }



  
}

@media screen and (max-width: 513px) {
  .searchBar {
    display: none;
  }
  .username {
    display: none;
  }
  .iconsContainer{
    display: none;
  }
}
@media screen and (max-width: 1240px) {
  .searchBar {

    width: 25rem;
  }
  
}
@media screen and (max-width: 1000px) {
  .searchBar {

    width: 15rem;
  }
  
}
@media screen and (max-width: 830px) {
  .searchBar {

    width: 10rem;
  }

}