<app-navbar></app-navbar>
<div style="display: flex;flex-direction: row; margin-top: 15px;" > 
  <div id="pieChartContainer" style="height: 300px; width: 40%;margin-left:25px;margin-right: 15px; "  ></div>
  <div id="barChartContainer" style="height: 300px; width: 50%;"></div>

</div>

<button (click)="openAddBookModal()" class="signInBtn" style="margin-left: 20px; margin-bottom: 20px">
  Add Book
</button>

<!-- <div *ngIf="showAddBookForm" style="width: 50%; margin-left: 20px;" >
  <h3>Add New Book</h3>
  <form [formGroup]="addBookForm" (ngSubmit)="submitBook()">
    <div>
      <label for="isbn">ISBN : </label>
      <input type="text" id="isbn" formControlName="isbn" class="customInputField" />
    </div>
    <div>
      <label for="title">Title :</label>
      <input type="text" id="title" formControlName="title" class="customInputField" />
    </div>
    <div>
      <label for="authors">Authors :</label>
      <input type="text" id="authors" formControlName="authors" class="customInputField" />
    </div>
    <div>
      <label for="genre">Genre :</label>
      <select id="genre" formControlName="genre" class="customInputField">
        <option *ngFor="let tag of tags" [value]="tag">{{ tag }}</option>
      </select>
    </div>
    <div>
      <label for="description">Description :</label>
      <textarea id="description" formControlName="description" class="customInputField"></textarea>
    </div>
    <div>
      <label for="publishedDate">Published Date :</label>
      <input type="date" id="publishedDate" formControlName="publishedDate" class="customInputField" />
    </div>
    <div>
      <label for="coverImage">Cover Image :</label>
      <input type="text" id="coverImage" formControlName="coverImage" class="customInputField" />
    </div>
    <div>
      <label for="language">Language :</label>
      <input type="text" id="language" formControlName="language" class="customInputField" />
    </div>
    <div>
      <label for="publisher">Publisher :</label>
      <input type="text" id="publisher" formControlName="publisher" class="customInputField" />
    </div>
    <div>
      <label for="edition">Edition :</label>
      <input type="text" id="edition" formControlName="edition" class="customInputField" />
    </div>
    <button type="submit" class="signInBtn" style="margin-bottom: 20px;">Submit</button>
  </form>
</div> -->

<!-- List of all books -->
<h3 style="margin-left: 15px;">All Books:</h3>
<div class="container mt-4" style="margin-left: 15px;">
  <div class="row">
    <div *ngFor="let book of books" class="col-md-4 mb-4" style="margin-bottom: 5px;">
      <div class="card shadow" style="display: flex; justify-content: space-between;">
        <div class="card-body" style="padding-left: 10px;">
          <h5 class="card-title">{{ book.title }}</h5>
          <div class="card-text">Author: {{ book.authors }}</div>
          <!-- You can add more book details here -->
        </div>
        <div>
          <button class="delete-button" style="background-color: forestgreen;" (click)="openEditBookModal(book)">Edit</button>
          <button class="delete-button" (click)="deleteBook(book._id)" >Delete</button>
        </div>
      </div>

      
    </div>
  </div>
</div>

<div *ngIf="books.length === 0" class="mt-4">
  <p>No books available.</p>
</div>

