<app-navbar> </app-navbar>



<div *ngIf="searchResults">
    <h2>Search Results</h2>
    <ul>
      <div *ngFor="let result of searchResults">
        <div class="bookCard" style="display: flex;">
          <img [src]="result.coverImage" alt="Book Cover" width="150" height="200">
          <div style="margin-left: 50px;"> 
            <p>Title: {{ result.title }}</p>
            <p>Author: {{ result.authors}}</p>
            <p>ISBN: {{ result.isbn }}</p>
          </div>
    
      </div>
      </div>
    </ul>
  </div>
  
  <div *ngIf="!searchResults">
    <p>No search results found.</p>
  </div>
  