main{
    background-color: #F9F6EA;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    cursor: default;
  }
  
  .loginLayout{
    margin-top: 5%;
    /* background-color: white;  */
    height: 80vh;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  
  .heading3{
    font-size: 24px;
    
    color: #726522;
  }
  
  .heading1{
    font-size: 40px;
    color: #726522;
  }
  
  .heading2{
    font-size: 22px;
    color: #726522;
  }
  
  p{
   margin: 3px;
  }
  
  .emailInputLayout,.passwordInputLayout,.forgotPasswordLayout{
    height: 80px;
    width: 450px;
    /* background-color: lavender; */
    display: flex;
    margin-top: 20px;
    flex-direction: column;
  }
  .forgotPasswordLayout{
    margin-top:2px;
    margin-left: 20px;
    height: 20px;
    cursor: default;
  }
  
  
  .customInputField{
   height: 40px;
   margin-top: 10px;
   border-radius: 25px;
   background-color: #EEE9CE;
   padding-left:40px ;
    border: none;
    transition: border 0.3s ease;
  }
  
  .customInputField:focus {
    border: 1px solid #726522;
    outline: none;
  }
  
  .email,.password{
    color: #726522;
    cursor: default;
  }
  
  .forgotPassword{
    margin-top: 0px;
    color: #726522;
    font-size: 13px;
    cursor: pointer;
  }
  
  .signInBtn{
    margin-top: 20px;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    background-color: #5A471D;
    color: #EEE9CE;
    font-size: 16px;
    box-shadow: none;
    border: none;
  }
  
  .signInBtn:hover{
    cursor: pointer;
  }
  
  .signup{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
   
  }
  
  .signUpBtn{
    margin-top: 10px;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    background-color: #EEE9CE;
    color: #5A471D;
    font-size: 16px;
    box-shadow: none;
    border: none;
  }
  
  
  .signUpBtn:hover{
    cursor: pointer;
  }
  