main {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  cursor: default;
}

.loginLayout {
  margin-top: 2%;
  /* background-color: pink; */
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.heading3 {
  font-size: 1.5rem;
  color: #726522;
}

.heading1 {
  font-size: 2.5rem;
  color: #726522;
}

.heading2 {
  font-size: 1.375rem;
  color: #726522;
}

p {
  margin: 0.1875rem 0;
}

.emailInputLayout,
.passwordInputLayout,
.forgotPasswordLayout,
.errorLayout {
  height: 5rem;
  width: 50%;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}
.customInputField {
  height: 5rem;
  margin-top: 10px;
  border-radius: 25px;
  background-color: #eee9ce;
  padding-left: 40px;
  border: none;
  transition: border 0.3s ease;
  border: 1px solid #726522;
}

.customInputField:focus {
  border: 1px solid #726522;
  outline: none;
}

.email,
.password {
  color: #726522;
  cursor: default;
}

.forgotPasswordLayout,
.errorLayout {
  display: flex;
  height: auto;
  align-items: end;
  /* background-color: red; */
  cursor: default;
}

.forgotPassword {
  color: #726522;
  font-size: 0.8rem;
  cursor: pointer;
}
.signInBtn,
.signUpBtn {
  margin-top: 10px;
  height: 3.5rem;
  width: 20%;
  border-radius: 2.5rem;
  background-color: #5a471d;
  color: #eee9ce;
  font-size: 100%;
  border: none;
}
.signInBtn:disabled {
  background-color: #5a471d6a;
  
}
.signInBtn:hover,
.signUpBtn:hover {
  cursor: pointer;
}
.signInBtn:disabled:hover{
  cursor: not-allowed;
}
.signin,
.signup {
  width: 20%;
  margin-top: 5px;
}
.newToPageTurn {
  margin-top: 15px;
}
.forgotPasswordLayout {
  margin-top: 10px;
  margin-bottom: 6px;
}
.errorLayout {
  margin-top: 0px;
}
.signUpBtn {
  background-color: #eee9ce;
  color: #5a471d;
  border: 1px solid #726522;
}
.signUpBtn:hover {
  background-color: #d6cba6;
  cursor: pointer;
}

@media only screen and (max-width: 320px) {
  .loginLayout {
    width: 90%;
  }

  .signInBtn,
  .signUpBtn {
    width: 90%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .loginLayout {
    width: 100%;
  }

  .signInBtn,
  .signUpBtn {
    width: 90%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .loginLayout {
    width: 90%;
  }

  .signInBtn,
  .signUpBtn {
    width: 90%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .loginLayout {
    width: 70%;
  }

  .signInBtn,
  .signUpBtn {
    width: 90%;
  }
}

@media only screen and (min-width: 1441px) {
  .loginLayout {
    width: 50%;
  }

  .signInBtn,
  .signUpBtn {
    width: 90%;
  }
}
