
<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >

<div class="context">
    <h1>Welcome To PageTurn</h1>
 <h3>The Ultimate Reader's Hub</h3>
 <div class="buttonsLayout">
    <button class="loginBtn" [routerLink]="['/signup']" (click)="btnclick()">Take Me there</button>
</div>
</div>