*{
    font-family: "Poppins", sans-serif;
}
.profileCard {
  margin-top: 2rem;
  height: 500px;
  width: auto;
  /* background-color: pink; */
  display: flex;
}

.leftSide {
  flex: 1;
  /* background-color: rgb(165, 141, 141);s */
  display: flex;
  flex-direction: column;
}
.rightSide {
  flex: 2;
  /* background-color: rgb(60, 60, 96); */
}

.circular--square {
  border-radius: 50%;
  margin-top: 4rem;
  margin-left: 2rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
.fullName{
    font-size: 24px;
}