<app-navbar> </app-navbar>
<main>
  <div class="greetings">
    <span class="heading1"> Your Book Shelf </span>
    <br />
    Track your favourite books here.
    <br />
  </div>
  <div *ngIf="currentlyReadingBooks.length > 0">
    <h2>Currently Reading</h2>
    <div *ngFor="let book of currentlyReadingBooks">
      <div>{{book.title}}</div>
    </div>
  </div>
  <div *ngIf="wantToReadBooks.length > 0">
    <h2>Want to Read</h2>
    <div *ngFor="let book of wantToReadBooks">
      <div>{{book.title}}</div>
    </div>
  </div>
  <div *ngIf="readBooks.length > 0">
    <h2>Read</h2>
    <div *ngFor="let book of readBooks">
      <div>{{book.title}}</div>
    </div>
  </div>

  
</main>
