<app-navbar> </app-navbar>
<main>
    <div class="greetings">
        <span class="heading1"> Your Book Shelf </span>
        <br />
        Track your favourite books here.
        <br />
    </div>
    <div class="toggleLayout">
        <link href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" rel="stylesheet" />

        <div class="switch-toggle switch-3 switch-candy">
            <input id="on" name="state-d" type="radio" checked="" />
            <label for="on" onclick="">Currently Reading</label>

            <input id="na" name="state-d" type="radio" checked="checked" />
            <label for="na" onclick=""> Want to Read</label>

            <input id="off" name="state-d" type="radio" />
            <label for="off" onclick="">Read</label>

            <a></a>
        </div>
    </div>
    <div class="tableHeading">

    </div>
</main>